{% extends 'base.html.twig' %}

{%  block body %}
    <div class="container mt-4">
    <h1>Ajouter un nouveau magazine</h1>
    {{ include('admin/magazines/_form.html.twig', { button: 'Ajouter'}) }}

{% endblock %}