{% extends 'base.html.twig' %}

{% block title 'Tous nos magazines' %}

{%  block body %}
    <div class="jumbotron" style="background-color:#ffdfdf">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary" style="background-color: #be1c33!important;border-color: #dc3545">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container mt-4">
        <h1>Voir tous nos magazines </h1>
        <div class="row">
            {% for magazines in magazines %}
                <div class="col-md-4">
                {% include 'magazine/_magazines.html.twig'%}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(magazines) }}
        </div>
    </div>
{% endblock %}